---
layout: page
title: Downloads
permalink: /downloads
---

<h3>Latest release</h3>

<div class="center" style="margin-top: 3em;">
	Looking for the latest version of <span class="orange">DataCleaner</span> <span class="blue">community edition</span>? Look no further ...
	<h2>
		<i class="fa fa-download" aria-hidden="true"></i>
		<a class="fancyLink" href="https://github.com/datacleaner/DataCleaner/releases/download/DataCleaner-{{site.releases[0].version}}/DataCleaner-{{site.releases[0].version}}.zip">
			Download DataCleaner community edition {{ site.releases[0].version }}
		</a>
	</h2>
</div>

<hr />

<h3>Release archive</h3>

<div class="tableContainer">
	<table class="downloadTable">
		<tr>
			<th></th>
			<th>
				<i class="fa icon fa-windows" aria-hidden="true"></i>
				Windows
			</th>
			<th>
				<i class="fa icon fa-apple" aria-hidden="true"></i>
				Mac OS
			</th>
			<th>
				<i class="fa icon fa-linux" aria-hidden="true"></i>
				Linux
			</th>
			<th>
				<i class="fa icon fa-asterisk" aria-hidden="true"></i>
				Cross-platform
			</th>
			<th>
				<i class="fa icon fa-github" aria-hidden="true"></i>
				Source
			</th>
		</tr>
		{% for release in site.releases %}
		<tr>
			<td class="versionName">
				DataCleaner {{ release.version }}
			</td>
			{% if release.sourceforge %}
			<td>
				<i class="fa fa-download" aria-hidden="true"></i>
				<a href="http://sourceforge.net/projects/datacleaner/files/datacleaner%20%28stable%29/{{release.version}}/DataCleaner-windows.zip/download">Zipped .exe</a>
			</td>
			<td>
				<i class="fa fa-download" aria-hidden="true"></i>
				<a href="http://sourceforge.net/projects/datacleaner/files/datacleaner%20%28stable%29/{{release.version}}/DataCleaner-app.zip/download">Zipped .app</a>
			</td>
			<td>
				<i class="fa fa-download" aria-hidden="true"></i>
				<a href="http://sourceforge.net/projects/datacleaner/files/datacleaner%20%28stable%29/{{release.version}}/DataCleaner-linux.deb/download">Debian package</a>
			</td>
			<td>
				<i class="fa fa-download" aria-hidden="true"></i>
				<a href="http://sourceforge.net/projects/datacleaner/files/datacleaner%20%28stable%29/{{release.version}}/DataCleaner-all.zip/download">Zipped .sh/.cmd</a>
			</td>
			<td>
				<i class="fa fa-tag" aria-hidden="true"></i>
				<a href="https://github.com/datacleaner/DataCleaner/releases/tag/DataCleaner-{{release.version}}">git tag</a>
			</td>
			{% else %}
			<td colspan="4">
				<i class="fa fa-download" aria-hidden="true"></i>
				<a href="https://github.com/datacleaner/DataCleaner/releases/download/DataCleaner-{{release.version}}/DataCleaner-{{release.version}}.zip">Download zip</a>
			</td>
			<td>
				<i class="fa fa-tag" aria-hidden="true"></i>
				<a href="https://github.com/datacleaner/DataCleaner/releases/tag/DataCleaner-{{release.version}}">git tag</a>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>

<p>Older releases available at <a href="https://sourceforge.net/projects/datacleaner">Sourceforge.net</a>.</p>
