<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div>
          <i class="fa icon fa-twitter" aria-hidden="true"></i>
          Share with <a target="_blank" href="http://twitter.com/datacleaner">@datacleaner</a> on Twitter
        </div>
        <div>
          <i class="fa icon fa-linkedin" aria-hidden="true"></i>
          Connect with <a target="_blank" href="http://www.linkedin.com/groups?gid=3352784">professionals</a> on LinkedIn
        </div>
      </div>

      <div class="footer-col footer-col-2">
        <div>
          <i class="fa icon fa-stack-overflow" aria-hidden="true"></i>
          Ask <a target="_blank" href="https://stackoverflow.com/questions/tagged/datacleaner">#DataCleaner questions</a> on StackOverflow
        </div>
        <div>
          <i class="fa icon fa-github" aria-hidden="true"></i>
          Report <a target="_blank" href="http://github.com/datacleaner/DataCleaner/issues">issues</a> and 
          <a target="_blank" href="https://github.com/datacleaner/DataCleaner/blob/master/CONTRIBUTE.md">contribute</a> with GitHub
        </div>
      </div>
    </div>

  </div>

</footer>
