<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>

      <script>
        ((window.gitter = {}).chat = {}).options = {
          room: 'datacleaner/community'
        };
      </script>
      <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    </main>

    <a href="https://github.com/datacleaner/DataCleaner">
      <img class="githubRibbon" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
    </a>
    
    {% include footer.html %}

  </body>

</html>
