---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        Published on {{ page.date | date: "%Y-%m-%-d" }}
      </time>
      {% if page.author_name %}
        by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="https://github.com/{{ page.author_github }}"><span itemprop="name">{{ page.author_name }}</span></a></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
