hr {
	margin-top: 4em;
	margin-bottom: 5em;
}

div.center {
	text-align: center;
}

.fancyLink {
	border-bottom: 2px solid $orange-color;
	text-decoration: none;
}

.fancyLink:hover {
	text-decoration: none;
}

.fa.icon {
	color: $brand-color
}

.blue {
	color: $blue-color
}
.green {
	color: $green-color
}
.orange {
	color: $orange-color
}
a.site-title:hover {
	text-decoration: none;
}

.tableContainer {
	background-color: $grey-color-light;
	padding: 0.3em;
	border: none;
	border-radius: 0.5em;
	margin-bottom: 1em;
}

.tableContainer table tr:nth-child(odd) {
	background-color: $grey-color-lightest;
}

.tableContainer table tr:nth-child(even) {
	background-color: $grey-color-lighter;
}

.downloadTable {
	width: 100%;
	font-size: 0.9em;
	border-spacing: 0;
}

.downloadTable td {
	text-align: center;
	padding: 0.2em;
	padding-top: 0.4em;
}

.downloadTable td.versionName {
	text-align: left;
}

.downloadTable th .icon {
	font-size: 2em;
	display: block;
	color: $orange-color;
}

.welcomePanel {
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0px;
	width: 100%;
	height: 300px;
	border-bottom: 1px solid $grey-color-light;
	background-position-x: right;
	background-position-y: bottom;
	background-image: url("/assets/welcome-panel-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.welcomePanelBreaker {
	clear: both;
	height: 300px;
	margin-bottom: 1em;
}

.databasesPanel {
	text-align: center;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0px;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid $grey-color-light;
	white-space: nowrap;
}

.databasesPanelBreaker {
	clear: both;
	height: 50px;
	margin-bottom: 4em;
}

.githubRibbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	display: none;
	@media (min-width: 1000px) {
		display: block;
	}
}

.clearBoth {
	clear: both;
}

.frontpageScreenshot {
	width: 40%;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 1em;
	border: 1px #ccc solid;
}

.frontpageScreenshot.left {
	float: left;
	margin-left: -10%;
}

.frontpageScreenshot.right {
	float: right;
	margin-right: -10%;
}
